
# Credenciales del sistema SIPROD/HIS
SIPROD_USERNAME=Prueba02
SIPROD_PASSWORD=Hospital.1
SIPROD_BASE_URL=https://his.catamarca.gob.ar

# Notificaciones ntfy.sh
# Tópico público o privado
NTFY_TOPIC=caica_alertas_sanjuan
# Token de acceso (solo si el tópico es privado)
NTFY_TOKEN=

# Inteligencia Artificial (opcional)
# Clave API de OpenAI para análisis avanzado
OPENAI_API_KEY=